.mainDashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../../assets/images/loginImgs/5.jpg);
  min-height: 100vh;

  .logo {
    margin-top: 10px;
    margin-left: 25px;
  }



  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
    padding: 2rem 20rem;

    @media (max-width: 1660px) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      padding: 2rem 15rem;
    }

    @media (max-width: 1440px) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      padding: 2rem 10rem;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      padding: 2rem 10rem;
    }

    @media (max-width: 1130px) {
      padding: 2rem;
    }

    @media (max-width: 800px) {
      padding: 2rem;
    }

    @media (max-width: 470px) {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0.25rem;
    }
  }
}
