.genderComponent {
  display: flex;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);

  .chartInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-weight: 600;
      font-size: 1rem;
    }

    ul {
      list-style: none;
      font-size: 0.75rem;
      max-height: 15rem;
      overflow: auto;
      line-height: 1.2rem;
    }
  }

  .chart {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
